runner/bin
runner/build
runner/obj
docs/*
KodeRunnerLibs/Runnables/bin
KodeRunnerLibs/Runnables/obj
setup/KodeRunner
runner/obj
.devcontainer/*
.devcontainer.json
runner/koderunner/*
!runner/koderunner/Config/config.json
!runner/koderunner/Runnables/Runnables.dll
